body {
    background-color: antiquewhite;  
    margin: auto;
    padding: 5%;
}

.lights {
    background-color: rgb(44, 44, 44);
    margin: auto;
    width: 150px;
    padding: 20px;
}

.lights > div {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 20px;
    border-radius: 50%;
    margin: auto;
}

#red {
    background-color: rgb(255, 187, 187);
}

#yellow {
    background-color: rgb(254, 254, 185);
}

#green {
    background-color: rgb(187, 255, 187);
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons > button {
    margin: 10px;
    font-size: medium;
}    
#startKnapp, #resetKnapp {
    font-size: 30px;
}
